.estilo_login
{
    background-color: aquamarine;
    color:blue;
}
.boton{
    color: #000;
    background-color: #ccc;
    border-radius: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
